# 初级

In [1]:
import requests
requests.get(url="https://www.baidu.com")

In [2]:
#
requests.get(url="https://www.baidu.com?wd=221")

In [3]:
#
requests.post(url="https://www.baidu.com", data={"wd": 1, "name": 2})

In [4]:
! python -V

Python 3.7.0

In [5]:
! python --version

Python 3.7.0

In [6]:
a = 1
print(a)
del a
print(a)

1

NameError: name 'a' is not defined

In [7]:
"%.2f" % 0.0230

'0.02'

In [8]:
# 列表(list)推导式
[_ for _ in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# 字典(dict)推导式
{_:str(_) for _ in range(10)}

{0: '0',
 1: '1',
 2: '2',
 3: '3',
 4: '4',
 5: '5',
 6: '6',
 7: '7',
 8: '8',
 9: '9'}

In [10]:
# 集合(set)推导式
{_ for _ in range(10)}

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
import numpy as np
import pandas as pd

dft = pd.DataFrame({
    'A': np.random.rand(3),
    'B': 1,
    'C': 'foo',
    'D': pd.Timestamp('20010102'),
    'E': pd.Series([1.0] * 3).astype('float32'),
    'F': False,
    'G': pd.Series([1] * 3, dtype='int8')}
)
dft.dtypes

A           float64
B             int64
C            object
D    datetime64[ns]
E           float32
F              bool
G              int8
dtype: object

In [12]:

def p(s, t):
    n = 2
    x = "1"
    i, j, k = 1, 2, 1

    print(
        type(s),
        x in s,
        x not in s,
        s + t,
        s * n,
        s[i],
        s[i:j],
        s[i:j:k],
        len(s),
        min(s),
        max(s),
        s.index(x),
        s.count(x),
    )

p(["1", "2", "3"], ["2", "3", "4"])
p("123", "234")
p(("1", "2", "3"), ("2", "3", "4"))

<class 'list'> True False ['1', '2', '3', '2', '3', '4'] ['1', '2', '3', '1', '2', '3'] 2 ['2'] ['2'] 3 1 3 0 1
<class 'str'> True False 123234 123123 2 2 2 3 1 3 0 1
<class 'tuple'> True False ('1', '2', '3', '2', '3', '4') ('1', '2', '3', '1', '2', '3') 2 ('2',) ('2',) 3 1 3 0 1

In [13]:
class A(object):
    a = 'a'
    @staticmethod
    def foo1(name):
        print('hello', name)
    def foo2(self, name):
        print('hello', name)
    @classmethod
    def foo3(cls, name):
        print('hello', name)

# 作者：秦风
# 链接：https://www.zhihu.com/question/49660420/answer/335991541
# 来源：知乎
# 著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。

a = A()
a.foo1('mamq') 
A.foo1('mamq')

a.foo2('mamq') 
# A.foo2('mamq')

a.foo3('mamq') 
A.foo3('mamq')

hello mamq
hello mamq
hello mamq
hello mamq
hello mamq

In [14]:
x = 1
print(id(x))
x = 1
print(id(x))

4475954240
4475954240

In [15]:
x = [1, 2, 3]
print(id(x))
x = [1, 2, 3]
print(id(x))

140618997493128
140618710938888

In [16]:
a = {[1,2,3]: 1}

TypeError: unhashable type: 'list'

In [17]:
a = {(1,2,3): 1}

# 中级

In [5]:
f = lambda x: print()
f(1) == None

True

In [89]:
import numpy as np
arr = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [7, 8, 9],
])
row_mean = arr.mean(1)
demeaned = arr - row_mean.reshape(4,1)
print(arr.mean(), row_mean, "\n", row_mean.reshape(4,1))
demeaned.mean(1)

5.75 [2. 5. 8. 8.]
 [[2.]
 [5.]
 [8.]
 [8.]]

array([0., 0., 0., 0.])

In [44]:
import numpy as np
import pandas as pd

df = pd.DataFrame([[_ for _ in range(200)] for _ in range(10)])
df.iloc[:, np.r_[1:10, 15]]

   1   2   3   4   5   6   7   8   9   15
0   1   2   3   4   5   6   7   8   9  15
1   1   2   3   4   5   6   7   8   9  15
2   1   2   3   4   5   6   7   8   9  15
3   1   2   3   4   5   6   7   8   9  15
4   1   2   3   4   5   6   7   8   9  15
5   1   2   3   4   5   6   7   8   9  15
6   1   2   3   4   5   6   7   8   9  15
7   1   2   3   4   5   6   7   8   9  15
8   1   2   3   4   5   6   7   8   9  15
9   1   2   3   4   5   6   7   8   9  15

In [84]:
13.0 and 2 or 1

2

In [67]:
arr = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [7, 8, 9],
])
arr.shape, arr.size

((4, 3), 12)

In [76]:
a = np.random.randint(0, 10, size=(5, 4))
sums = a.sum(axis=1)
sums.size

5

In [78]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [80]:
np.linspace(start=0, stop=10)

array([ 0.        ,  0.20408163,  0.40816327,  0.6122449 ,  0.81632653,
        1.02040816,  1.2244898 ,  1.42857143,  1.63265306,  1.83673469,
        2.04081633,  2.24489796,  2.44897959,  2.65306122,  2.85714286,
        3.06122449,  3.26530612,  3.46938776,  3.67346939,  3.87755102,
        4.08163265,  4.28571429,  4.48979592,  4.69387755,  4.89795918,
        5.10204082,  5.30612245,  5.51020408,  5.71428571,  5.91836735,
        6.12244898,  6.32653061,  6.53061224,  6.73469388,  6.93877551,
        7.14285714,  7.34693878,  7.55102041,  7.75510204,  7.95918367,
        8.16326531,  8.36734694,  8.57142857,  8.7755102 ,  8.97959184,
        9.18367347,  9.3877551 ,  9.59183673,  9.79591837, 10.        ])

In [82]:
np.zeros(shape=(2, 3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [83]:
np.ones(shape=(2, 3))

array([[1., 1., 1.],
       [1., 1., 1.]])

# 高级